body{
    background-color: #ccc !important;
    overflow: hidden;
    height: auto;
   
}
form{
    background-color: white;
    padding: 25px;
}

form .title{
    border-left: 3px solid crimson;
}
  